In [606]:
import pandas as pd

from dateutil.parser import parse # to help with datatime edits

# Import data from 'store_details.csv' into DataFrame.
table_name = 'store_details'
csv_file_path = 'store_details.csv'
store_details_df = pd.read_csv(csv_file_path)
# Display the DataFrame
display(store_details_df)

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,NaN,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,NaN,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,NaN,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,NaN,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,NaN,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,NaN,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,NaN,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,NaN,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,NaN,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [607]:
store_details_original = store_details_df.copy()

display(store_details_df.info())
display(store_details_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          451 non-null    int64
 1   address        447 non-null    object
 2   longitude      447 non-null    object
 3   lat            7 non-null      object
 4   locality       447 non-null    object
 5   store_code     448 non-null    object
 6   staff_numbers  448 non-null    object
 7   opening_date   448 non-null    object
 8   store_type     448 non-null    object
 9   latitude       447 non-null    object
 10  country_code   448 non-null    object
 11  continent      448 non-null    object
dtypes: int64(1), object(11)
memory usage: 42.4+ KB

None

            index
count  451.000000
mean   225.000000
std    130.336743
min      0.000000
25%    112.500000
50%    225.000000
75%    337.500000
max    450.000000

In [608]:
# Filter and include rows where 'lat' values are isnull
store_details_df_filtered = store_details_df[store_details_df['lat'].isnull()]

store_details_df_filtered = store_details_df_filtered.drop('lat', axis=1)

            # # Filter and exclude rows where 'longitude' values are isnull i.e. we want notnull rows
            # store_details_df_filtered = store_details_df_filtered[store_details_df_filtered['longitude'].notnull()]

# Filter and exclude rows where 'store_code' values are isnull i.e. we want notnull rows
store_details_df_filtered = store_details_df_filtered[store_details_df_filtered['store_code'].notnull()]

# Filter out letters from the 'staff_numbers'
store_details_df_filtered['staff_numbers'] = store_details_df_filtered['staff_numbers'].str.replace(r'[^0-9]', '', regex=True)
store_details_df_filtered['staff_numbers'] = store_details_df_filtered['staff_numbers'].astype('int64')

# Change datatype
store_details_df_filtered['store_type'] = store_details_df_filtered['store_type'].astype('category')
store_details_df_filtered['store_code'] = store_details_df_filtered['store_code'].astype('string')
store_details_df_filtered['country_code'] = store_details_df_filtered['country_code'].astype('category')

# Replace 'eeEurope': 'Europe', 'eeAmerica': 'America'
store_details_df_filtered['continent'] = store_details_df_filtered['continent'].replace({'eeEurope': 'Europe', 'eeAmerica': 'America'})
store_details_df_filtered['continent'] = store_details_df_filtered['continent'].astype('category')

# Change datatype to string
store_details_df_filtered['address'] = store_details_df_filtered['address'].astype('string')
store_details_df_filtered['locality'] = store_details_df_filtered['locality'].astype('string')

# Convert the 'opening_date' column to datetime format
store_details_df_filtered['opening_date'] = store_details_df_filtered['opening_date'].apply(parse)
# To handle specific formats
# store_details_df_filtered['opening_date'] = store_details_df_filtered['opening_date'].combine_first(pd.to_datetime(store_details_df_filtered['opening_date'], errors='coerce', format='%Y %B %d'))
store_details_df_filtered['opening_date'] = store_details_df_filtered['opening_date'].combine_first(pd.to_datetime(store_details_df_filtered['opening_date'], errors='coerce', format='mixed'))

# Convert 'expiry_date' to datetime format
# store_details_df_filtered['opening_date'] = pd.to_datetime(store_details_df_filtered['opening_date'], format='%y-%m-%d', errors='coerce')
store_details_df_filtered['opening_date'] = pd.to_datetime(store_details_df_filtered['opening_date'], format='mixed', errors='coerce')

print(store_details_df_filtered.isnull().sum())
display(store_details_df_filtered.info())
display(store_details_df_filtered)

index            0
address          1
longitude        1
locality         1
store_code       0
staff_numbers    0
opening_date     0
store_type       0
latitude         1
country_code     0
continent        0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 441 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          441 non-null    int64
 1   address        440 non-null    string
 2   longitude      440 non-null    object
 3   locality       440 non-null    string
 4   store_code     441 non-null    string
 5   staff_numbers  441 non-null    int64
 6   opening_date   441 non-null    datetime64[ns]
 7   store_type     441 non-null    category
 8   latitude       440 non-null    object
 9   country_code   441 non-null    category
 10  continent      441 non-null    category
dtypes: category(3), datetime64[ns](1), int64(2), object(2), string(3)
memory usage: 48.9+ KB

None

,index,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,<NA>,NaN,<NA>,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,1,"Flat 72W Sally isle East Deantown E7B 8EB, Hig...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5 50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel South Lydia WC9 2BE, Westbury",51.26,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,"Studio 6 Stephen landing South Simon B77 2WA, ...",53.0233,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
445,445,"Flat 7 Stephanie lake Morrisside HP8 8LH, Cowes",50.76306,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,446,"Täschestraße 25 39039 Nördlingen, Kirchlengern",52.2,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,448,"Studio 8 Moss mall West Linda M0E 6XR, High Wy...",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6 80114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3 45457 Feuchtwangen, B...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,Europe

# Testing a clenaing method

In [609]:
# # Filter and include rows where 'lat' values are isnull
# filtered_store_details_df = store_details_df[store_details_df['lat'].isnull()]

# filtered_store_details_df = filtered_store_details_df.drop('lat', axis=1)

#             # # Filter and exclude rows where 'longitude' values are isnull i.e. we want notnull rows
#             # filtered_store_details_df = filtered_store_details_df[filtered_store_details_df['longitude'].notnull()]

# # Filter and exclude rows where 'store_code' values are isnull i.e. we want notnull rows
# filtered_store_details_df = filtered_store_details_df[filtered_store_details_df['store_code'].notnull()]

# # Filter out letters from the 'staff_numbers'
# filtered_store_details_df['staff_numbers'] = filtered_store_details_df['staff_numbers'].str.replace(r'[^0-9]', '', regex=True)
# filtered_store_details_df['staff_numbers'] = filtered_store_details_df['staff_numbers'].astype('int64')

# # Change datatype to category
# filtered_store_details_df['store_type'] = filtered_store_details_df['store_type'].astype('category')

# # Change datatype to string
# filtered_store_details_df['store_code'] = filtered_store_details_df['store_code'].astype('string')

# # Change datatype to category
# filtered_store_details_df['country_code'] = filtered_store_details_df['country_code'].astype('category')

# # Replace 'eeEurope': 'Europe', 'eeAmerica': 'America'
# filtered_store_details_df['continent'] = filtered_store_details_df['continent'].replace({'eeEurope': 'Europe', 'eeAmerica': 'America'})
# filtered_store_details_df['continent'] = filtered_store_details_df['continent'].astype('category')

# # Change datatype to string
# filtered_store_details_df['address'] = filtered_store_details_df['address'].astype('string')

# # Change datatype to string
# filtered_store_details_df['locality'] = filtered_store_details_df['locality'].astype('string')

# # Convert the 'opening_date' column to datetime format
# filtered_store_details_df['opening_date'] = filtered_store_details_df['opening_date'].apply(parse)
# # To handle specific formats
# filtered_store_details_df['opening_date'] = filtered_store_details_df['opening_date'].combine_first(pd.to_datetime(filtered_store_details_df['opening_date'], errors='coerce', format='%Y %B %d'))
# # Convert 'expiry_date' to datetime format
# filtered_store_details_df['opening_date'] = pd.to_datetime(filtered_store_details_df['opening_date'], format='%y-%m-%d', errors='coerce')

# display(filtered_store_details_df.info())
# display(filtered_store_details_df)

In [610]:
# Show rows where 'latitude' values are notnull
filtered_store_details_df = store_details_df[store_details_df['lat'].notnull()]

display(filtered_store_details_df.info())
display(filtered_store_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 63 to 447
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          7 non-null      int64
 1   address        7 non-null      object
 2   longitude      7 non-null      object
 3   lat            7 non-null      object
 4   locality       7 non-null      object
 5   store_code     7 non-null      object
 6   staff_numbers  7 non-null      object
 7   opening_date   7 non-null      object
 8   store_type     7 non-null      object
 9   latitude       7 non-null      object
 10  country_code   7 non-null      object
 11  continent      7 non-null      object
dtypes: int64(1), object(11)
memory usage: 728.0+ bytes

None

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
63,63,6FWDZHD7PW,1ZVU03X2P6,13KJZ890JH,9IBH8Y4Z0S,NRQKZWJ9OZ,BIP8K8JJW2,ZCXWWKF45G,QP74AHEQT0,1CJ5OAU4BR,YELVM536YT,QMAVR5H3LD
172,172,UBCIFQLSNY,Q1TJY8H1ZH,2XE1OWOC23,1T6B406CI8,QIUU9SVP51,SKBXAXF5G5,7AHXLXIUEF,O0QJIRC943,3ZR3F89D97,FP8DLXQVGH,LU3E036ZD9
231,231,RC99UKMZB2,2YBZ1440V6,OXVE5QR07O,6LVWPU1G64,Y8J0Z2W8O9,2429OB3LMM,0OLAK2I6NS,50IB01SFAZ,L13EQEQODP,HMHIFNLOBN,5586JCLARW
333,333,X349GIDWKU,O7NF1FZ74Y,VKA5I8H32X,RX9TCP2RGB,ISEE8A57FE,74BY7HSB6P,A3PMVM800J,0RSNUU3DF5,J3BPB68Z1J,F3AO8V2LHU,GFJQ2AAEQ8
381,381,ZBGB54ID4H,SKO4NMRNNF,LACCWDI0SB,CQMHKI78BX,T0R2CQBDUS,GT1FO6YGD4,GMMB02LA9V,B4KVQB3P5Y,AJHOMDOHZ4,OH20I92LX3,SLQBD982C0
414,414,XTUAV57DP4,ID819KG3X5,A3O5CBWAMD,RY6K0AUE7F,TUOKF5HAAQ,FRTGHAA34B,13PIY8GD1H,X0FE7E2EOG,AE7EEW4HSS,OYVW925ZL8,XQ953VS0FG
447,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL

In [611]:
# Filter and include rows where 'lat' values are isnull
filtered_store_details_df = store_details_df[store_details_df['lat'].isnull()]

display(filtered_store_details_df.info())
display(filtered_store_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 444 entries, 0 to 450
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          444 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    object
 3   lat            0 non-null      object
 4   locality       440 non-null    object
 5   store_code     441 non-null    object
 6   staff_numbers  441 non-null    object
 7   opening_date   441 non-null    object
 8   store_type     441 non-null    object
 9   latitude       440 non-null    object
 10  country_code   441 non-null    object
 11  continent      441 non-null    object
dtypes: int64(1), object(11)
memory usage: 45.1+ KB

None

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,NaN,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,NaN,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,NaN,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,NaN,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,NaN,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
445,445,"Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...",50.76306,NaN,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,NaN,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,NaN,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,NaN,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,NaN,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [612]:
filtered_store_details_df = filtered_store_details_df.drop('lat', axis=1)

display(filtered_store_details_df.info())
display(filtered_store_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 444 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          444 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    object
 3   locality       440 non-null    object
 4   store_code     441 non-null    object
 5   staff_numbers  441 non-null    object
 6   opening_date   441 non-null    object
 7   store_type     441 non-null    object
 8   latitude       440 non-null    object
 9   country_code   441 non-null    object
 10  continent      441 non-null    object
dtypes: int64(1), object(10)
memory usage: 41.6+ KB

None

,index,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
445,445,"Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...",50.76306,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [613]:
######## this cell was wrong is it removed the value 'WEB-1388012W' which was needed ###########

# # Show rows where 'longitude' values are isnull
# filtered_longitude_store_details_df = filtered_store_details_df[filtered_store_details_df['longitude'].isnull()]

# display(filtered_longitude_store_details_df.info())
# display(filtered_longitude_store_details_df)

In [614]:
# Show rows where 'store_code' values are isnull
filtered_store_code_store_details_df = filtered_store_details_df[filtered_store_details_df['store_code'].isnull()]

display(filtered_store_code_store_details_df.info())
display(filtered_store_code_store_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 217 to 437
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          3 non-null      int64
 1   address        0 non-null      object
 2   longitude      0 non-null      object
 3   locality       0 non-null      object
 4   store_code     0 non-null      object
 5   staff_numbers  0 non-null      object
 6   opening_date   0 non-null      object
 7   store_type     0 non-null      object
 8   latitude       0 non-null      object
 9   country_code   0 non-null      object
 10  continent      0 non-null      object
dtypes: int64(1), object(10)
memory usage: 288.0+ bytes

None

,index,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
217,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [615]:
# Filter and exclude rows where 'store_code' values are isnull i.e. we want notnull rows
filtered_store_details_df = filtered_store_details_df[filtered_store_details_df['store_code'].notnull()]

display(filtered_store_details_df.info())
display(filtered_store_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 441 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          441 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    object
 3   locality       440 non-null    object
 4   store_code     441 non-null    object
 5   staff_numbers  441 non-null    object
 6   opening_date   441 non-null    object
 7   store_type     441 non-null    object
 8   latitude       440 non-null    object
 9   country_code   441 non-null    object
 10  continent      441 non-null    object
dtypes: int64(1), object(10)
memory usage: 41.3+ KB

None

,index,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
445,445,"Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...",50.76306,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [616]:
filtered_store_details_df['store_code'] = filtered_store_details_df['store_code'].astype('string')
display(filtered_store_details_df.info())
display(filtered_store_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 441 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          441 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    object
 3   locality       440 non-null    object
 4   store_code     441 non-null    string
 5   staff_numbers  441 non-null    object
 6   opening_date   441 non-null    object
 7   store_type     441 non-null    object
 8   latitude       440 non-null    object
 9   country_code   441 non-null    object
 10  continent      441 non-null    object
dtypes: int64(1), object(9), string(1)
memory usage: 41.3+ KB

None

,index,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
445,445,"Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...",50.76306,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [617]:
# # Check for entries that match a numeric pattern
# filtered_store_details_df = filtered_store_details_df[~filtered_store_details_df['store_type'].str.isnumeric()]

# display(filtered_store_details_df.info())
# display(filtered_store_details_df)

# staff_numbers

In [618]:
# Check for entries that match a numeric pattern
#isolate numbers that contain other things such as letters
filtered_staff_numbers_store_details_df = filtered_store_details_df[~filtered_store_details_df['staff_numbers'].str.isnumeric()]

display(filtered_staff_numbers_store_details_df.info())
display(filtered_staff_numbers_store_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 31 to 375
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          5 non-null      int64
 1   address        5 non-null      object
 2   longitude      5 non-null      object
 3   locality       5 non-null      object
 4   store_code     5 non-null      string
 5   staff_numbers  5 non-null      object
 6   opening_date   5 non-null      object
 7   store_type     5 non-null      object
 8   latitude       5 non-null      object
 9   country_code   5 non-null      object
 10  continent      5 non-null      object
dtypes: int64(1), object(9), string(1)
memory usage: 480.0+ bytes

None

,index,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
31,31,"Flat 69\nSuzanne walk\nEast Michelle\nE80 8HS,...",52.68333,East Dereham,EA-24B31935,J78,2012-11-09,Outlet,0.93333,GB,Europe
179,179,"Girschnerweg 163\n93597 Angermünde, Dahlem",52.4581,Dahlem,DA-ACC520AE,30e,1994-03-07,Local,13.28702,DE,Europe
248,248,"7430 Howe Extensions Suite 299\nKellyside, WA ...",39.71734,Sicklerville,SI-C489938D,80R,1994-02-28,Outlet,-74.96933,US,America
341,341,Studio 8\nLydia groves\nNorth Hilarymouth\nIV4...,50.79205,Southsea,SO-B5B9CB3B,A97,2018-05-08,Super Store,-1.08593,GB,Europe
375,375,"Salzstraße 1/9\n74209 Bad Freienwalde, Charlot...",52.53048,Charlottenburg-Nord,CH-99475026,3n9,1995-03-05,Local,13.29371,DE,Europe

In [619]:
# Filter out letters from the 'staff_numbers'
filtered_store_details_df['staff_numbers'] = filtered_store_details_df['staff_numbers'].str.replace(r'[^0-9]', '', regex=True)

# # Change datatype to int64
# filtered_store_details_df['staff_numbers'] = filtered_store_details_df['staff_numbers'].astype('int64')

display(filtered_store_details_df.info())
display(filtered_store_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 441 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          441 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    object
 3   locality       440 non-null    object
 4   store_code     441 non-null    string
 5   staff_numbers  441 non-null    object
 6   opening_date   441 non-null    object
 7   store_type     441 non-null    object
 8   latitude       440 non-null    object
 9   country_code   441 non-null    object
 10  continent      441 non-null    object
dtypes: int64(1), object(9), string(1)
memory usage: 41.3+ KB

None

,index,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
445,445,"Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...",50.76306,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [620]:
# Check for entries that match a numeric pattern
#isolate numbers that contain other things such as letters
filtered_staff_numbers_store_details_df = filtered_store_details_df[~filtered_store_details_df['staff_numbers'].str.isnumeric()]

display(filtered_staff_numbers_store_details_df.info())
display(filtered_staff_numbers_store_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          0 non-null      int64
 1   address        0 non-null      object
 2   longitude      0 non-null      object
 3   locality       0 non-null      object
 4   store_code     0 non-null      string
 5   staff_numbers  0 non-null      object
 6   opening_date   0 non-null      object
 7   store_type     0 non-null      object
 8   latitude       0 non-null      object
 9   country_code   0 non-null      object
 10  continent      0 non-null      object
dtypes: int64(1), object(9), string(1)
memory usage: 0.0+ bytes

None

Empty DataFrame
Columns: [index, address, longitude, locality, store_code, staff_numbers, opening_date, store_type, latitude, country_code, continent]
Index: []

# store_type

In [621]:
print(filtered_store_details_df['store_type'].unique())
print(filtered_store_details_df['store_type'].nunique())

# Change datatype to category
filtered_store_details_df['store_type'] = filtered_store_details_df['store_type'].astype('category')

['Web Portal' 'Local' 'Super Store' 'Mall Kiosk' 'Outlet']
5

# store_code

In [622]:
# Change datatype to string
filtered_store_details_df['store_code'] = filtered_store_details_df['store_code'].astype('string')

# coutnry_code

In [623]:
print(filtered_store_details_df['country_code'].unique())
print(filtered_store_details_df['country_code'].nunique())

# Change datatype to category
filtered_store_details_df['country_code'] = filtered_store_details_df['country_code'].astype('category')

['GB' 'DE' 'US']
3

# continent

In [624]:
print(filtered_store_details_df['continent'].unique())
print(filtered_store_details_df['continent'].nunique())

['Europe' 'America' 'eeEurope' 'eeAmerica']
4

In [625]:
# Replace 'eeEurope': 'Europe', 'eeAmerica': 'America'
filtered_store_details_df['continent'] = filtered_store_details_df['continent'].replace({'eeEurope': 'Europe', 'eeAmerica': 'America'})
filtered_store_details_df['continent'] = filtered_store_details_df['continent'].astype('category')

print(filtered_store_details_df['continent'].unique())
print(filtered_store_details_df['continent'].nunique())
display(filtered_store_details_df)

['Europe', 'America']
Categories (2, object): ['America', 'Europe']
2

,index,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
445,445,"Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...",50.76306,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,Europe

# address

In [626]:
print(filtered_store_details_df['address'].unique())
print(filtered_store_details_df['address'].nunique())
# Change datatype to string
filtered_store_details_df['address'] = filtered_store_details_df['address'].astype('string')

[nan 'Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, High Wycombe'
 'Heckerstraße 4/5\n50491 Säckingen, Landshut'
 '5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury'
 'Studio 6\nStephen landing\nSouth Simon\nB77 2WA, Belper'
 'Flat 92u\nChristian harbors\nPort Charlotte\nN57 8FJ, Gainsborough'
 '7 Gillian rue\nWest Robertside\nPH4 8NY, Rutherglen'
 'Lilija-Heß-Allee 660\n34566 Regensburg, Stuttgart'
 '510 Jill Mill\nSouth Laura, FL 38723, Kaukauna'
 '3 Lee valleys\nWest Janetview\nDY4M 2RL, Hartley'
 '8 Gareth skyway\nSimmonsview\nSW4 7PL, Rutherglen'
 'Bergerstr. 1/3\n59183 Seelow, Siegburg'
 'Flat 37\nBennett expressway\nNew Charlotte\nSY8R 5WE, Devizes'
 '520 Fisher Inlet Suite 594\nPort Eric, IL 71753, Crystal Lake'
 'Herma-Rädel-Gasse 29\n74557 Fulda, Halstenbek'
 '4 Teresa lodge\nWest Mathewchester\nSP39 3UZ, Lancing'
 '74 Mills route\nLaurahaven\nPL4R 6HA, Newbury'
 '9 Ryan springs\nLake Allan\nE0 1AW, Lymington'
 'Studio 80d\nHolly cliffs\nIanport\nG4F 4HR, Chapletown'
 '59 Lee drives\nGeorginaview\nOL93 1GX, Barnet'
 'Flat 83\nShirley parkway\nSylviashire\nN0 5AQ, East Dereham'
 'Flat 28\nKirby villages\nWest Vincent\nCV4 0RT, Poulton-le-Fylde'
 'Studio 00p\nGeorge point\nWest Barbara\nS5J 3JT, Bushey'
 'Rena-Karz-Gasse 574\n66493 Olpe, Ehingen'
 'Flat 43d\nHall street\nSusanshire\nKA9 8HF, Aberdeen'
 '12 William underpass\nSouth Brettland\nL3K 8BB, Surbiton'
 '08 Brenda valleys\nNorth Stewartborough\nTQ32 7FS, Inverness'
 'Studio 94\nTina freeway\nWoodshaven\nYO93 9TU, Gainsborough'
 'Flat 8\nCooper estates\nReidchester\nKY14 4PW, Lancing'
 'Köhlerring 00\n08489 Fulda, Weimar'
 'Häringstr. 481\n62852 Kamenz, Landshut'
 'Flat 69\nSuzanne walk\nEast Michelle\nE80 8HS, East Dereham'
 'Flat 7\nChambers shoals\nCarolyntown\nSM2 0FQ, East Dereham'
 'Studio 1\nDavidson harbor\nSheppardview\nM9J 9LW, Penzance'
 'Sabina-Baum-Platz 4\n10599 Wanzleben, Ehingen'
 'Fechnerweg 6\n72000 Greiz, Albstadt'
 'Kensyring 567\n46539 Oschatz, Hechingen'
 '978 Daniel viaduct\nJohnsonville\nE1A 7TW, Poulton-le-Fylde'
 'Flat 8\nGrace radial\nGeorginashire\nW06 1BZ, Lancing'
 'Studio 55A\nAli brooks\nPearceburgh\nSW8 2RT, Mexborough'
 '420 Harrison way\nWhitemouth\nE4 5RZ, Arbroath'
 '7 Sophie ways\nEast Kevinborough\nTD1M 0FG, Cowes'
 'Studio 46k\nPhillips hollow\nSouth Eileen\nG21 2EA, Clacton-on-Sea'
 '92863 Kathryn Ford Suite 747\nEast Craig, DC 24439, Boston'
 'Bertold-Nette-Allee 7/8\n32669 Chemnitz, Charlottenburg-Nord'
 'Lindauweg 7\n89647 Luckau, Bretten'
 'Flat 85Q\nGeorge field\nBarrettbury\nBS2B 5WR, Newbury'
 '2 Jade corners\nSouth Ashleybury\nW1 0RE, Belper'
 'Studio 1\nBrandon branch\nFrancescaview\nTD4N 2XL, Newbury'
 '0493 Alicia Station Suite 475\nElizabethfort, RI 70019, Sun City Center'
 '9 Parker lake\nWest Edwardview\nSP04 5ZX, Mexborough'
 'Mosemannstr. 81\n30877 Schrobenhausen, Karben'
 '220 Holt Unions Suite 688\nRamirezstad, IL 74968, Martinsburg'
 'Trommlerstr. 7/5\n75372 Wolfach, Oschatz'
 'Flat 26c\nWalker creek\nSouth Mary\nHU8X 8YP, Kingston upon Hull'
 'Flat 40w\nThomas wall\nSouth Susan\nLL4 8LG, Leyland'
 '9066 Rosales Port Suite 675\nMeyerville, NV 79336, Venice'
 'Studio 57\nEdwards springs\nJohnsonbury\nB52 8TN, High Wycombe'
 '664 Andrew land\nNew Mohammadhaven\nN07 9JZ, Rutherglen'
 '21 Michael plains\nPort Garethburgh\nBL6 5PJ, Leyland'
 'Baumstraße 904\n47265 Hildesheim, Schleswig'
 'Martha-Dörr-Platz 1/3\n53035 Bad Mergentheim, Eppingen'
 '446 Edwards circle\nSouth Dean\nS5 5NT, Chapletown'
 'Heinrichgasse 96\n70197 Sömmerda, Losheim'
 'Mario-Wirth-Gasse 598\n60452 Cloppenburg, Burscheid'
 'Studio 44\nLynda village\nNew Alexanderbury\nN66 2PJ, Rutherglen'
 'Magarete-Caspar-Weg 37\n58039 Melsungen, Ehingen'
 'Flat 81A\nLeonard glens\nEast Kayleigh\nN8J 4SX, Southsea'
 '406 Charles Ramp\nPort Jessicaview, WI 37544, Porterville'
 'Gorlitzweg 0/4\n49302 Waldmünchen, Walsrode'
 'Studio 9\nDunn summit\nThomasfurt\nRH8 4TZ, Exeter'
 '122 Gray heights\nHolmesview\nS2U 7LP, Chapletown'
 'Studio 13\nRussell ports\nSouth Ricky\nCR3B 4BA, Gainsborough'
 '942 Field passage\nScottland\nWD85 7UG, Chapletown'
 '77 Jordan corner\nNew Kathleen\nSP0 9HU, Thetford'
 'Yusuf-Christoph-Straße 784\n00736 Koblenz, Landshut'
 '91374 Stanley Rapid Apt. 083\nSouth Christian, MI 26541, Morningside Heights'
 'Ottomar-Gutknecht-Platz 7\n52829 Fulda, Losheim'
 '35 Collier tunnel\nEast Nicola\nLA0 9LZ, East Dereham'
 'Studio 26\nAnderson plain\nWilliamston\nBT4P 5NN, Belper'
 'Vincenzo-Lübs-Weg 8\n59427 Eisenberg, Weimar'
 'Zahnstraße 7/0\n50265 Plauen, Schleswig'
 '5608 Jason Falls Apt. 917\nEricaside, ND 55443, Searcy'
 '154 Arthur view\nPort Emma\nN5 6SH, Surbiton'
 '549 Watson highway\nMarcusport\nE2 3WZ, Exeter'
 '772 Jacqueline brook\nLake Derek\nN2J 0ZZ, Bushey'
 'Gießring 51\n99214 Querfurt, Landshut'
 'Kirsten-Geißler-Allee 5\n87776 Pinneberg, Radevormwald'
 '268 Johnson keys\nWest Josephinehaven\nW1 7ST, Newbury'
 'Cosimo-Rose-Ring 1/5\n86826 Dieburg, Charlottenburg-Nord'
 'Manja-Wirth-Ring 7\n99585 Grimma, Stade'
 'Studio 43\nLiam club\nNew Garyview\nHX7 3PG, Arbroath'
 '14577 Thomas Station\nNorth Andrew, SD 63439, Mira Mesa'
 '823 Caroline curve\nJasmineberg\nB4G 7ZZ, Strood'
 'Steffen-Boucsein-Straße 1\n45299 Osterburg, Burscheid'
 'Cichoriusplatz 61\n10993 Niesky, Verl'
 'Marvin-Schmiedt-Straße 40\n41235 Erkelenz, Wesseling'
 'Studio 26\nPaula coves\nEast Samuelfurt\nEH17 8TE, Clacton-on-Sea'
 'Walli-Ullrich-Ring 94\n22096 Mallersdorf, Pfullingen'
 'Geißlerplatz 5\n53713 Nördlingen, Bensheim'
 'Flat 56X\nWayne fields\nWebbside\nBL8R 2QU, Southsea'
 '0 Molly keys\nDuncanton\nHD7Y 4DU, High Wycombe'
 '64 Hayes crossing\nPort Ellieville\nG7S 1XQ, Walton-on-the-Naze'
 '822 Marsh mews\nFrancishaven\nBR3X 2XJ, Chapletown'
 'Minna-Juncken-Gasse 906\n83233 Husum, Friedberg'
 'Sauerring 09\n84370 Bernburg, Stuttgart'
 'Flat 84\nMorrison freeway\nWardbury\nEC62 7LZ, Arbroath'
 'Flat 9\nMorris well\nWebbmouth\nW7 6FF, Lymington'
 '0 Smith camp\nMasonchester\nSK23 1WD, Belper'
 'Flat 60t\nBerry squares\nClarkstad\nCR0 6RQ, Gainsborough'
 'Studio 82\nRosemary drive\nScottside\nCM7W 7XQ, Winsford'
 'Flat 0\nHobbs avenue\nEast Diana\nM9 8XN, High Wycombe'
 'Studio 6\nAnthony drive\nNew Ricky\nWF8 6HA, Mexborough'
 '7 Saunders divide\nEast Malcolm\nW2 5FA, Leyland'
 '7 Richards stravenue\nWest Allan\nS1T 1BY, Rutherglen'
 '4 Taylor plaza\nDeanview\nL1 2XR, Lancing'
 'Linkeallee 7/3\n66084 Füssen, Karben'
 'Flat 62\nEllis mountain\nBrettport\nRM53 0AQ, Chapletown'
 'Flat 1\nBeverley islands\nLake Sheila\nM8 1UU, Chapletown'
 'Knappering 09\n35944 Wertingen, Stade'
 '694 Parker Unions\nSouth Rebeccatown, GU 66824, Newburgh'
 'Studio 66K\nChloe road\nStanleyberg\nS0 6NE, Selby'
 '247 Melanie forge\nNorth Nathan\nN70 7ZZ, Surbiton'
 '22 Hussain rue\nBoothport\nM24 9LZ, Bushey'
 'Studio 45r\nWest falls\nTraceyfurt\nL7 9NA, Arbroath'
 'Keudelallee 65\n00759 Mallersdorf, Oberhausen'
 'Seipallee 4\n20802 Göppingen, Radevormwald'
 'Studio 39t\nGavin drives\nCartwrightberg\nCH1 6SJ, Westbury'
 'Zimmerweg 693\n26271 Havelberg, Pfullingen'
 'Flat 0\nTaylor grove\nJamesshire\nG1D 5RD, Lancing'
 'Hans-Eberhard-Franke-Gasse 1/0\n40343 Rostock, Zeitz'
 'Studio 35o\nSylvia place\nHowardstad\nTS14 7XJ, Viewpark'
 '9 Tom gardens\nShanefurt\nCV4X 0LU, Winsford'
 '847 Joe spur\nMarshallmouth\nM71 2LP, Rhosllanerchrugog'
 '984 Marshall causeway\nWest Francis\nCF8W 2BQ, Bushey'
 'Süßebiergasse 4\n30238 Mettmann, Marburg an der Lahn'
 'Studio 01\nReynolds skyway\nLake Martynmouth\nRG9A 5QL, Clacton-on-Sea'
 '39869 Jessica Square Suite 441\nBarbaraborough, NV 37780, Waverly'
 'Eleni-Trommler-Allee 180\n78345 Stendal, Marburg an der Lahn'
 'Flat 84\nIrene track\nHammondhaven\nKY28 0FZ, Poulton-le-Fylde'
 '847 Lewis crossing\nDayberg\nEN7 0SP, Gainsborough'
 'Studio 7\nPatel motorway\nStevenburgh\nB0C 8JF, Bushey'
 'Eugenie-Pruschke-Straße 5\n31111 Badibling, Memmingen'
 'Flat 7\nBond passage\nPort Katefurt\nCA9 5AX, Clacton-on-Sea'
 '0 Wall cliff\nEast Kevin\nML7A 6LS, Surbiton'
 'Studio 89H\nClark trafficway\nLake Joanna\nKY9 4SZ, Lymington'
 'Heinz-Wilhelm-Boucsein-Ring 6\n03556 Zerbst, Hechingen'
 '7 Arnold lodge\nSophiemouth\nB3 6NN, Arbroath'
 'Erdal-Jacob-Ring 9\n39042 Bad Freienwalde, Siegburg'
 'Hentschelstraße 5\n48646 Gunzenhausen, Pfullingen'
 '2 Joan meadow\nPerkinsbury\nWF3 7YX, Newbury'
 'Studio 80\nBaxter valleys\nCollinsfurt\nG0 6WT, Selby'
 'Ottoplatz 4\n95953 Nürtingen, Radevormwald'
 'Hans-Christian-Zahn-Platz 856\n77913 Saulgau, Ehingen'
 'Tröstplatz 5\n15926 Wittmund, Pfullingen'
 '78005 Steele Orchard Apt. 098\nEast Jennifer, AZ 80303, Crystal Lake'
 'Studio 81\nChamberlain lights\nNorth Emmashire\nIP2 3AU, Hartley'
 'Guiseppe-Bauer-Weg 775\n25489 Döbeln, Memmingen'
 'Juergen-Loos-Straße 0/8\n93137 Mettmann, Trossingen'
 'Flat 73c\nBen junctions\nNorth Katy\nE8J 7RE, Viewpark'
 'Marijan-Dehmel-Straße 0/8\n24704 Germersheim, Dahlem'
 'Ekrem-Tintzmann-Weg 424\n02111 Oberviechtach, Landshut'
 'Studio 00\nMurray course\nLake Gail\nCH69 7TE, Viewpark'
 'Haasegasse 1/3\n07219 Pinneberg, Charlottenburg-Nord'
 'Dunja-Oderwald-Gasse 785\n97452 Konstanz, Stuttgart'
 'Lidia-Zobel-Straße 922\n51389 Mallersdorf, Friedberg'
 'Studio 79w\nHazel heights\nNew Harry\nE4C 8DA, Clacton-on-Sea'
 'Flat 48W\nThompson forest\nWest Maria\nN84 4LE, Walton-on-the-Naze'
 'Studio 6\nBaldwin ports\nLake Lewis\nG2 3EE, Lymington'
 'Losekannplatz 687\n06653 Potsdam, Halstenbek'
 '02 Norman flats\nNorth Nigelburgh\nWD7M 1UN, Belper'
 '48 Willis dale\nNorth Dylan\nS8W 2NG, Strood'
 'Kruschwitzplatz 13\n02034 Hainichen, Marburg an der Lahn'
 'Studio 0\nJennings spur\nGregoryville\nNN3 4BB, High Wycombe'
 'Flat 50\nSam extension\nWilsonview\nFY1W 9BA, Thetford'
 '40 Powell lock\nKayborough\nDG6 0ZS, Lower Earley'
 'Sontagweg 54\n94925 Erfurt, Barmbek-Nord'
 'Girschnerweg 163\n93597 Angermünde, Dahlem'
 'Sagerstr. 64\n93083 Leipziger Land, Bad Segeberg'
 'Flat 25\nChapman turnpike\nMatthewsborough\nMK0 4RG, Inverness'
 'Benthinallee 25\n56122 Schongau, Charlottenburg-Nord'
 'Studio 26\nDavies skyway\nWest Elizabeth\nE24 2TR, Arbroath'
 'Wolf-Thies-Weg 032\n36732 Höxter, Zeitz'
 'Studio 53\nGlen isle\nNew Stewarttown\nM59 5XA, Exeter'
 'Flat 48U\nClark mount\nNew Allan\nBA9A 8XX, Chapletown'
 'Flat 18\nPhillips lane\nLynntown\nCF8H 8QU, Great Wyrley'
 '295 Foster haven\nEdwardsfurt\nM4 8ZJ, Viewpark'
 'Luka-Adolph-Platz 8/7\n49973 Halberstadt, Ehingen'
 '70 Ward center\nPort Nicola\nDT73 4WY, Bushey'
 '77 Eleanor fork\nWrightmouth\nFK9 4BH, Mexborough'
 '0 Mason islands\nLake Katyview\nL3U 0EX, Penzance'
 'Studio 46\nJulia points\nNorth Gareth\nBL4P 4NS, Rutherglen'
 'Hülya-Reinhardt-Ring 8/8\n84222 Hannoversch Münden, Landshut'
 '55 Phillip place\nJasmineberg\nSW6 3YS, Belper'
 '7 Russell greens\nNew Jessica\nM5A 5GL, Lancing'
 'Nuray-Lorch-Ring 4/0\n84116 Grevesmühlen, Nidderau'
 '9 Chelsea trace\nMooremouth\nCT32 6HG, Hartley'
 'Dörrstr. 4/6\n74777 Neubrandenburg, Walsrode'
 'Flat 77\nShaw underpass\nLake Mandy\nG8C 2NE, Strood'
 '82 Pauline island\nPort Gail\nPA6 6XQ, Winsford'
 '7 Wright run\nSouth Adrian\nN6A 1LX, Hartley'
 '516 Robinson Street Apt. 867\nWest Donna, NJ 95809, Jersey City'
 '97 Jones village\nLynnestad\nEH0H 7WL, Kingston upon Hull'
 'Dippelweg 175\n28510 Spremberg, Barmbek-Nord'
 '5352 Maureen Turnpike Apt. 081\nLake Kevin, WY 05079, Fayetteville'
 'Studio 89\nRice freeway\nTaylorshire\nN22 1NT, Bushey'
 'Mariola-Stey-Weg 67\n59162 Bad Kreuznach, Friedberg'
 'Flat 2\nGibson stream\nThorpeview\nAL14 1ZX, Strood'
 'Wanda-Etzold-Gasse 1\n80729 Finsterwalde, Schleswig'
 'Studio 52\nBrown place\nNew Kimland\nWC2 0HD, Gainsborough'
 'Studio 26e\nMiles port\nVincentfurt\nG2 0PL, Westbury'
 '303 Abdul cliffs\nSandersmouth\nNR18 5HB, Poulton-le-Fylde'
 'Flat 81\nGardner mission\nNorth Leighton\nZE25 5WP, Cowes'
 'Tina-Döring-Gasse 68\n95518 Calw, Gauting'
 'Flat 75b\nRobert courts\nAdamsstad\nPA4B 9HF, Westbury'
 'Flat 08f\nFrancis flat\nWest Kathrynstad\nSE69 3RR, Penzance'
 '9 Walker skyway\nSouth Naomimouth\nW58 1FA, Blackpool'
 'Strohplatz 83\n98919 Perleberg, Oberhausen'
 '0885 Smith Summit\nSouth Heather, DC 76175, Redding'
 'Schleichallee 0\n69754 Naila, Hofheim am Taunus'
 'Nelli-Täsche-Gasse 7\n02190 Dinslaken, Verl'
 'Flat 78\nHiggins ports\nLloydfort\nLN0X 1AE, Rhosllanerchrugog'
 '68 Briggs cliff\nScottton\nS05 6HX, Aberdeen'
 '1 Charlene summit\nEast Terence\nEH0 7FH, Lancing'
 '5 Gough park\nBaldwinshire\nKA39 6EQ, East Dereham'
 'Studio 5\nCharlotte park\nBethanyview\nL99 4EA, Belper'
 'van der Dussenallee 980\n73428 Karlsruhe, Hofheim am Taunus'
 '833 Amanda well\nElliotttown\nCM38 7DQ, Kingston upon Hull'
 'Flat 16\nJosephine streets\nLesliebury\nSG38 6QB, Chapletown'
 'Studio 66\nJill lodge\nPottston\nHR8 4QD, Rutherglen'
 'Ottomar-Mans-Gasse 67\n61565 Hofgeismar, Wittenau'
 '23220 Christine Passage\nLake Karen, ME 66805, Mira Mesa'
 '2 Keith course\nWalkerport\nHS3X 9BE, Winsford'
 '566 John gardens\nPort Glen\nWN31 5WB, Great Wyrley'
 'Flat 77\nRita path\nSmithstad\nN59 7SX, Thetford'
 'Studio 40Z\nGraham stravenue\nBrownfort\nS7W 5YB, Surbiton'
 'Flat 65\nGordon estates\nLongbury\nG4B 4XF, Exeter'
 'Drubplatz 5/8\n30390 Hofgeismar, Albstadt'
 'Flat 84d\nCarol points\nPaigeland\nG3 0PD, Clacton-on-Sea'
 'Dörschnerweg 8\n53663 Saulgau, Aschaffenburg'
 '1135 Savannah Summit\nPierceshire, CO 66052, Fairview Heights'
 '5 Reynolds run\nJenniferfort\nE8G 5YX, High Wycombe'
 '5 Gardner mission\nNorth Mohammedfort\nG4 8XS, Clacton-on-Sea'
 'Studio 85\nEvans fields\nEast Gavinport\nDT9P 1AP, Penzance'
 '7430 Howe Extensions Suite 299\nKellyside, WA 99104, Sicklerville'
 'Killerweg 58\n68233 Kronach, Landshut'
 '491 Joel inlet\nPort Justinside\nM3 3JS, Aberdeen'
 'Knappegasse 4/9\n24537 Düren, Radevormwald'
 'Studio 3\nGregory cove\nNorth Geoffreyberg\nE9G 4XP, Belper'
 '5 Gill square\nBlakeborough\nPR9W 6XB, Brierley Hill'
 'Faustgasse 1/9\n35075 Lichtenfels, Oschatz'
 '98 Barnett alley\nChambersland\nN96 1QA, Viewpark'
 'Pölitzring 379\n05718 Zossen, Gauting'
 '47 Gavin summit\nEast Lucybury\nSK9 4AA, Poulton-le-Fylde'
 '61 Taylor crest\nLongport\nB6 6WR, Selby'
 'Hans-Bernd-Atzler-Ring 1/7\n78760 Zschopau, Radevormwald'
 'Marita-Ziegert-Allee 511\n20274 Zerbst, Kirchlengern'
 'Studio 23\nMatthews village\nEast Elliott\nLU6A 5BE, Westbury'
 'Studio 68\nWard knoll\nStephensonside\nSL42 7JL, Leyland'
 'Maria-Theresia-Johann-Allee 52\n05110 Scheinfeld, Siegburg'
 'Rosina-Henk-Gasse 8/6\n59445 Aschaffenburg, Pfullingen'
 '7314 Cobb Course Apt. 178\nGarrettmouth, IN 57585, Port Richmond'
 'Studio 53\nMiles fort\nJonesland\nB2J 8HG, Selby'
 '18980 John Points Apt. 129\nRobinsonshire, PW 88197, Belle Glade'
 '3 Graham manors\nTracystad\nRG1 5XZ, Belper'
 'Werneckeweg 9/6\n93470 Bad Mergentheim, Weimar'
 'Studio 1\nKyle mission\nNew Glentown\nSL43 9YP, Strood'
 'Claire-Heidrich-Weg 2/8\n59107 Sankt Goar, Verl'
 'Flat 3\nYvonne views\nMatthewsstad\nPL50 0QL, Chapletown'
 '970 Myers heights\nLorrainemouth\nLS0B 5DB, Great Wyrley'
 '41 Carr ranch\nKieranfurt\nG1 7DX, High Wycombe'
 'Flat 83t\nThomas road\nSouth Adam\nTW08 6QY, Chapletown'
 '265 Talbot fork\nRogersmouth\nE1 7EP, Great Wyrley'
 '70 Dale lakes\nEast Adam\nE3 9QS, Great Wyrley'
 'Otto-Tlustek-Ring 23\n53302 Grevenbroich, Karben'
 '2 Francis mission\nShaunton\nG3 9WF, Exeter'
 '332 Eleanor forest\nRachelville\nB3J 6YX, Blackpool'
 'Flat 44\nGareth roads\nLake Jeanborough\nCW7V 4GP, Surbiton'
 'Flat 26c\nGill dam\nNorth Bryanport\nM1 2NX, Walton-on-the-Naze'
 '2 Matthews street\nLynchborough\nFK37 3TX, Devizes'
 '275 Williams garden\nKingland\nW8 1NZ, Arbroath'
 'Reinhard-Weller-Allee 7\n09791 Uelzen, Reutlingen'
 '2 Lewis burg\nJosephfort\nW14 4SB, Aberdeen'
 '2 Ian gateway\nLynneside\nNP3 4SR, Penzance'
 '653 Smith radial\nLydiaport\nE8E 8SU, Bushey'
 'Faustring 1\n52133 Duderstadt, Memmingen'
 'Flat 07\nDawson mall\nEdwardston\nLE11 0TG, Newbury'
 'Buchholzallee 372\n93158 Bremen, Burscheid'
 'Löwerallee 49\n00561 Miltenberg, Landshut'
 'Flat 0\nBilly hill\nHughstad\nG3B 0EL, Chapletown'
 '98501 Emily Field Suite 577\nWest Michael, IN 29247, Brunswick'
 'Flat 96s\nMichelle courts\nSouth Geraldside\nEX08 4PA, Great Wyrley'
 '29 Craig mountains\nNew Kellyville\nM3 1YE, Blackpool'
 'Flat 07\nOwen gardens\nNew Terry\nL8U 0DY, Barnet'
 'Reingard-Weinhage-Weg 9/9\n49079 Zerbst, Trossingen'
 '05 Stone trail\nLake Alexandratown\nW3 1YU, Blackpool'
 'Flat 12\nHarriet circle\nSandraland\nUB0V 3QF, Arbroath'
 'Christine-Winkler-Straße 5\n08309 Wurzen, Gronau'
 'Flat 53\nLiam vista\nAlicehaven\nE6E 7TE, East Dereham'
 'Döringallee 7\n21119 Sankt Goarshausen, Gifhorn'
 'Kadestr. 0\n65793 Hildesheim, Charlottenburg-Nord'
 '8 Baker orchard\nJoycestad\nS7 3XE, Gainsborough'
 'Mercedes-Benthin-Ring 2/8\n93429 Saarlouis, Hofheim am Taunus'
 '5 Cole rapid\nWest Robert\nSN63 0XR, Aberdeen'
 'Peukertring 850\n19830 Bad Brückenau, Nidderau'
 'Flat 1\nBrenda fields\nNew Brenda\nSA7N 1WA, Selby'
 'Studio 24I\nNathan lock\nAdamberg\nBR0M 3YZ, Cowes'
 '4 Wright ways\nSouth Timothychester\nFK4B 2WB, Exeter'
 'Studio 97\nMorris wall\nWest Karl\nSL9 9DZ, Selby'
 '349 Megan extensions\nWest Martin\nPH39 7DR, Thetford'
 '10212 Victoria Ports\nPort Jillview, MN 30315, Carlsbad'
 'Flat 09\nFord cliff\nJeffreyville\nW6E 2FW, Newbury'
 '118 Logan Port Suite 682\nNew Jacobton, SC 81887, Lutz'
 '317 Douglas springs\nKayleighberg\nB9C 7QG, Surbiton'
 'Studio 4\nFuller crossing\nWest Guy\nSM9 8AQ, Viewpark'
 '268 Smith walks\nNorth Stuartborough\nW42 8LL, Bushey'
 '32961 Daniel Bridge\nWest Malikfurt, ME 07252, Sterling'
 'Fabian-Kruschwitz-Ring 1\n42324 Wiedenbrück, Hofheim am Taunus'
 '167 Damien valley\nPort Mohamedborough\nM10 4LS, Lower Earley'
 '4 White greens\nStephenmouth\nTS3 9AX, Surbiton'
 '2 Kieran alley\nSouth Leanneshire\nEH4 8AQ, Cowes'
 'Hertrampfallee 45\n17758 Strasburg, Albstadt'
 'Diethard-Bien-Ring 95\n87473 Neunburg vorm Wald, Albstadt'
 'Flat 38E\nRoy squares\nMahmoodton\nRH7P 3AS, East Dereham'
 'Boucseinweg 1/9\n96416 Worbis, Stuttgart'
 'Flat 3\nCarole walks\nDavisborough\nS2 5EE, Lower Earley'
 'Schleichstr. 883\n92656 Bruchsal, Oberhausen'
 'Flat 9\nMarc islands\nJoanfort\nLN39 1RY, Bushey'
 'Marit-Zirme-Platz 8\n08920 Berchtesgaden, Eppingen'
 '9 Jones divide\nWhitechester\nLU9E 4BL, Walton-on-the-Naze'
 'Beckmannring 978\n52046 Bad Freienwalde, Korschenbroich'
 '588 Natalie plaza\nAnnefurt\nN94 8GD, High Wycombe'
 '6 John port\nNorth Amanda\nG6 2EU, Aberdeen'
 'Kata-Seifert-Gasse 241\n04496 Wetzlar, Bretten'
 'Flat 5\nWard gardens\nNew Timothy\nSO9X 6NY, Lymington'
 '148 Samuel course\nNicolaside\nGY3E 5SD, Great Wyrley'
 'Studio 8\nLydia groves\nNorth Hilarymouth\nIV4 6EJ, Southsea'
 'Mareile-Geißler-Straße 54\n41907 Lobenstein, Landshut'
 'Bruderstr. 1/5\n24745 Mayen, Bretten'
 'Flat 06e\nHerbert fall\nLake Frank\nFK92 1JZ, Westbury'
 '22 Taylor island\nLake Danielfort\nB6 8NH, Inverness'
 'Heinz-Dieter-Stadelmann-Ring 55\n11784 Miesbach, Verl'
 'Mirco-Dörschner-Straße 4/3\n16157 Jülich, Oschatz'
 'auch Schlauchinstraße 287\n85621 Ochsenfurt, Weimar'
 'Ilonka-Rust-Gasse 700\n44228 Burgdorf, Halstenbek'
 '7 Tracy bridge\nDohertyport\nE8H 1UF, Exeter'
 '06969 Dalton Rapid Apt. 131\nPort James, DE 55905, Hutchinson'
 'Almut-Förster-Ring 366\n87661 Spremberg, Charlottenburg-Nord'
 '4 Emma trail\nEllisborough\nE0 7DY, Rutherglen'
 '7298 Todd Mission Suite 390\nSullivanside, PW 47041, Scarsdale'
 'Studio 85\nGardner port\nCharltonborough\nS9B 4HT, Kingston upon Hull'
 '792 Allen locks\nHughesborough\nW8D 0NQ, Exeter'
 '789 Donna Skyway Suite 416\nEast Margaretland, AR 43995, Iron River'
 'Gerta-Häring-Straße 8\n98714 Donaueschingen, Wesseling'
 'Gorlitzallee 04\n16084 Stadtsteinach, Oberhausen'
 'Hillerring 299\n61655 Merseburg, Bad Segeberg'
 '45 Cameron field\nRhysport\nG24 5RX, High Wycombe'
 'Egbert-Heser-Straße 066\n16185 Wurzen, Hechingen'
 'Studio 9\nRachael mills\nLake Guy\nML6 0YG, Rutherglen'
 '212 Nicola islands\nEast Ricky\nJE2H 2AG, Inverness'

# locality

In [627]:
print(filtered_store_details_df['locality'].unique())
print(filtered_store_details_df['locality'].nunique())

# Change datatype to string
filtered_store_details_df['locality'] = filtered_store_details_df['locality'].astype('string')

[nan 'High Wycombe' 'Landshut' 'Westbury' 'Belper' 'Gainsborough'
 'Rutherglen' 'Stuttgart' 'Kaukauna' 'Hartley' 'Siegburg' 'Devizes'
 'Crystal Lake' 'Halstenbek' 'Lancing' 'Newbury' 'Lymington' 'Chapletown'
 'Barnet' 'East Dereham' 'Poulton-le-Fylde' 'Bushey' 'Ehingen' 'Aberdeen'
 'Surbiton' 'Inverness' 'Weimar' 'Penzance' 'Albstadt' 'Hechingen'
 'Mexborough' 'Arbroath' 'Cowes' 'Clacton-on-Sea' 'Boston'
 'Charlottenburg-Nord' 'Bretten' 'Sun City Center' 'Karben' 'Martinsburg'
 'Oschatz' 'Kingston upon Hull' 'Leyland' 'Venice' 'Schleswig' 'Eppingen'
 'Losheim' 'Burscheid' 'Southsea' 'Porterville' 'Walsrode' 'Exeter'
 'Thetford' 'Morningside Heights' 'Searcy' 'Radevormwald' 'Stade'
 'Mira Mesa' 'Strood' 'Verl' 'Wesseling' 'Pfullingen' 'Bensheim'
 'Walton-on-the-Naze' 'Friedberg' 'Winsford' 'Newburgh' 'Selby'
 'Oberhausen' 'Zeitz' 'Viewpark' 'Rhosllanerchrugog' 'Marburg an der Lahn'
 'Waverly' 'Memmingen' 'Trossingen' 'Dahlem' 'Lower Earley' 'Barmbek-Nord'
 'Bad Segeberg' 'Great Wyrley' 'Nidderau' 'Jersey City' 'Fayetteville'
 'Gauting' 'Blackpool' 'Redding' 'Hofheim am Taunus' 'Wittenau'
 'Aschaffenburg' 'Fairview Heights' 'Sicklerville' 'Brierley Hill'
 'Kirchlengern' 'Port Richmond' 'Belle Glade' 'Reutlingen' 'Brunswick'
 'Gronau' 'Gifhorn' 'Carlsbad' 'Lutz' 'Sterling' 'Korschenbroich'
 'Hutchinson' 'Scarsdale' 'Iron River' 'Jackson' 'Bridgeport' 'Rudolstadt'
 'Hermsdorf' 'Neuburg an der Donau' 'Bad Honnef' 'Scottsdale' 'Troutdale'
 'Columbia Heights' 'Westchester']
116

# opening_date

In [628]:
print(filtered_store_details_df['opening_date'].unique())
print(filtered_store_details_df['opening_date'].nunique())

['2010-06-12' '1996-10-25' '2013-04-12' '2014-01-02' '2019-09-09'
 '1995-05-15' '2001-01-04' '2000-06-01' '2022-09-05' '2004-09-11'
 'October 2012 08' 'July 2015 14' '2014-10-11' '2018-04-05' '1994-03-08'
 '2020-06-05' '2004-05-02' '2016-02-12' '2008-01-21' '2022-08-01'
 '1994-08-12' '2010-10-19' '2013-08-05' '2017-12-12' '2002-06-18'
 '2007-06-24' '2017-11-04' '2008-07-08' '1998-12-23' '2011-03-11'
 '2010-08-25' '2012-11-09' '2016-10-07' '2018-08-15' '1996-10-02'
 '2018-06-18' '1995-06-04' '1994-10-18' '2002-07-21' '2013-12-23'
 '2006-10-04' '1999-07-17' '1998-12-19' '2019-07-28' '2017-10-21'
 '2020-05-13' '2019-12-24' '2002-04-03' '2009-08-07' '2004-05-23'
 '2001-07-11' '1998-07-07' '2011-07-07' '2007-02-04' '1993-10-13'
 '2006-06-16' '2006-02-23' '2019-09-08' '1993-09-03' '2002-01-18'
 '2009-04-14' '2014-07-16' '2012-05-15' '2006-01-13' '2019-01-11'
 '1994-05-26' '2015-02-16' '2002-03-30' '2003-04-19' '2017-04-15'
 '1997-01-16' '2017-10-11' '2012-08-16' '1998-12-12' '1996-04-19'
 '2001-08-01' '2004-12-19' '1998-12-20' '1999-11-14' '2008-02-04'
 '2009-08-19' '2002-09-30' '2012-05-10' '2010-03-16' '1999-12-10'
 '2018-02-18' '2011-05-02' '2010-03-15' '2021-03-12' '2011-03-27'
 '2005-04-28' '2000-12-29' '2006-07-07' '2022/01/20' '2017-01-09'
 '2000-07-10' '1997-08-29' '2021-04-17' '1997-12-01' '2005-10-31'
 '2011-09-25' '1994-11-01' '2001-02-16' '2003-08-08' '2012-02-15'
 '2021-06-26' '2010-07-15' '1993-05-06' '2012-09-15' '2021-06-16'
 '1999-11-05' '2008-02-27' '2019-07-12' '2022-08-31' '2008-03-27'
 '2019-08-07' '2010-07-23' '2013-11-17' '2011-06-18' '2001-11-28'
 '2014-07-03' '2020 February 01' '2021-02-27' '2015-12-13' '2008-09-01'
 '1996-06-05' '2007-02-03' '1993-09-28' '1995-11-07' '2002-08-16'
 '2002-07-30' '2014-09-03' '2000-08-19' '2006-07-26' '2007-02-28'
 '2011-11-06' '1993-11-24' '1995-12-30' '2006-10-18' '2003-04-07'
 '1997-02-07' 'May 2003 27' '2005-08-01' '2006-02-20' '1994-08-09'
 '2021-02-20' '2019-12-08' '2008-03-08' '2014-05-24' '2015-02-12'
 '1994-09-10' '2005-01-04' '2006-05-22' '2018-05-26' '2001-11-11'
 '2006-06-15' '2005-12-23' '2022-06-21' '2003-11-19' '1998-04-22'
 '2013-04-29' '2004-01-27' '2008-03-31' '2012-03-15' '2001-05-20'
 '2010-08-09' '2012-11-28' '1993-10-02' '2019-01-16' '2014-08-19'
 '2004-09-13' '2007-07-21' '2015-01-08' '2021-06-20' '2006-02-03'
 '1994-03-07' '2011-11-27' '1993-03-17' '2005-04-26' '2015-02-13'
 '2001-02-19' '2010-07-19' '1997-07-01' '1999-11-19' '2000-08-02'
 '2000-06-28' '2016 November 25' '2001-03-08' '2012-05-02' '2001-05-23'
 '2005-08-05' '2015-02-03' '2006-10-03' '1997-05-01' '2019-09-04'
 '2013-06-04' '2014-09-17' '2021-01-12' '2019-11-23' '2015-10-02'
 '2013-03-30' '2007-12-15' '2008/12/07' '2020-08-22' '2007-12-21'
 '1996-10-26' '2017-05-21' '2009-11-19' '1998-02-27' '2000-06-23'
 '2008-03-20' '1995-04-22' '2016-10-31' '2013-10-25' '2021-05-19'
 '2014-05-21' '2003-04-04' '2016-02-06' '2010-05-21' '2015-02-19'
 '1993-11-21' '2018-02-13' '1994-09-16' '2013-11-19' '2014-04-07'
 '2006-05-04' '2006-08-23' '2015-03-20' '2018-10-03' '2000-02-12'
 '2011-11-25' '2003-11-06' '2021-08-05' '2007-09-05' '2014-07-28'
 '2022-07-29' 'October 2006 04' '2004-12-07' '1994-10-17' '1997-03-15'
 '2018-03-09' '1995-06-06' '1994-02-28' '1994-12-02' '1994-08-19'
 '2017-12-27' '2008-11-15' '2004-12-30' '2015-05-11' '1998-12-18'
 '2019-09-13' '1999-03-30' '2004-08-13' '2009-07-22' '2001-01-12'
 '2019-04-27' '1995-01-20' '2010-10-27' '2006-07-08' '2005-06-07'
 '2013-11-04' '1995-01-21' '2002-11-07' '1998-05-02' '2018-04-26'
 '2007-09-03' '1997-10-26' '2018-02-26' '2017-06-19' '1995-04-29'
 '1999-11-24' '2011-08-15' '1999-01-12' '2005-04-07' '2002-11-22'
 '2011-02-19' '2013-05-04' '2003-01-06' '2013-07-13' '1998-07-18'
 '2008-02-14' '2003-04-23' '2005-06-13' '2011-08-20' '2004-11-17'
 '2001 May 04' '2022-02-25' '2000-02-15' '2010-02-02' '1993-01-26'
 '2016-05-16' '2016-04-29' '2004-03-15' '2018-11-29' '2020-02-22'
 '2000-09-20' '2005-01-10' '2000-06-27' '1996-05-18' '2022-06-18'
 '2003-05-17' '2022-10-12' '1993-04-19' '2019-01-06' '2007-05-27'
 '2017-09-04' '2007-05-05' '2012-09-22' '1996-06-01' '2012-08-18'
 '2012-10-07' '2004-01-23' '2017-11-17' '1996-02-04' '2019-12-18'
 '1996-09-18' '2001-05-18' '2015-03-06' '2003-10-16' '2005-03-26'
 '2010-11-15' '1998-09-29' '2015-08-31' '1996-10-22' '2011-09-24'
 '1996-10-15' '2011-02-08' '1995-02-26' '2012-06-21' '2018-02-08'
 '1998-05-05' '1994 November 24' '2018-05-08' '2017-10-24' '1999-01-02'
 '1994-01-29' '2010-06-06' '2006-07-18' '2020-11-13' '2009-07-26'
 '2017-06-01' '1998-01-22' '1998-04-01' '1998-09-11' '1999-09-18'
 '1997-03-25' '1996-07-09' '2002-05-14' '1997-09-15' '2015-07-05'
 '2021-08-11' '2009-09-20' '2001-04-20' '2000-12-28' '1995-08-26'
 '2007-10-04' '1994-12-04' '1999-05-16' '2005-11-08' 'February 2009 28'
 '1994-10-11' '2017-06-12' '2001-07-27' '2010-07-26' '1995-03-05'
 '2001-05-10' '1997-01-30' '2019-07-19' '2018-10-21' '1993-08-16'
 '2006-06-18' '1997-09-17' '1994-10-19' '2002-07-23' '2019-01-04'
 '2006-01-20' '2018-03-30' '2005-03-13' '2022-04-05' '1996-05-30'
 '2004-02-13' 'March 2015 02' '2005-07-20' '1993-08-03' '2021-06-15'
 '2013-05-08' '2004-10-11' '2017-01-10' '2003-12-11' '2012-03-06'
 '2003-11-05' '2010-10-18' '2017-10-26' '1996-12-11' '2016-03-16'
 '2002-11-18' '1993-06-29' '2018-04-10' '2003-08-05' '2011-12-12'
 '1996-12-01' '2014-01-13' '2001-09-05' '2004-02-09' '2010-02-06'
 '2017-09-10' '2010-04-06' '2022-02-23' '1997-11-14' '2021-11-24'
 '2017-05-28' '1998-08-05' '2001-06-06' '2006-10-09' '2016-03-20'
 '2003-05-01' '1994-12-27' '2021-02-28' '1996-10-16' '2022-07-16'
 '1996-11-16' '2005-09-01' '2022-08-20' '2017-01-14' '2020-12-15'
 '2019-10-30' '2014-06-04' '2008-06-08' '2005-05-12' '1998-05-14'
 '2020-10-17' '2001-05-12']
432

In [629]:
display(filtered_store_details_df.info())
display(filtered_store_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 441 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          441 non-null    int64
 1   address        440 non-null    string
 2   longitude      440 non-null    object
 3   locality       440 non-null    string
 4   store_code     441 non-null    string
 5   staff_numbers  441 non-null    object
 6   opening_date   441 non-null    object
 7   store_type     441 non-null    category
 8   latitude       440 non-null    object
 9   country_code   441 non-null    category
 10  continent      441 non-null    category
dtypes: category(3), int64(1), object(4), string(3)
memory usage: 32.8+ KB

None

,index,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,<NA>,NaN,<NA>,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,1,"Flat 72W Sally isle East Deantown E7B 8EB, Hig...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5 50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel South Lydia WC9 2BE, Westbury",51.26,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,"Studio 6 Stephen landing South Simon B77 2WA, ...",53.0233,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
445,445,"Flat 7 Stephanie lake Morrisside HP8 8LH, Cowes",50.76306,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,446,"Täschestraße 25 39039 Nördlingen, Kirchlengern",52.2,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,448,"Studio 8 Moss mall West Linda M0E 6XR, High Wy...",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6 80114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3 45457 Feuchtwangen, B...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,Europe

In [630]:
filtered_store_details_df['opening_date'] = filtered_store_details_df['opening_date'].apply(parse)
display(filtered_store_details_df.info())
display(filtered_store_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 441 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          441 non-null    int64
 1   address        440 non-null    string
 2   longitude      440 non-null    object
 3   locality       440 non-null    string
 4   store_code     441 non-null    string
 5   staff_numbers  441 non-null    object
 6   opening_date   441 non-null    datetime64[ns]
 7   store_type     441 non-null    category
 8   latitude       440 non-null    object
 9   country_code   441 non-null    category
 10  continent      441 non-null    category
dtypes: category(3), datetime64[ns](1), int64(1), object(3), string(3)
memory usage: 32.8+ KB

None

,index,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,<NA>,NaN,<NA>,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,1,"Flat 72W Sally isle East Deantown E7B 8EB, Hig...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5 50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel South Lydia WC9 2BE, Westbury",51.26,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,"Studio 6 Stephen landing South Simon B77 2WA, ...",53.0233,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
445,445,"Flat 7 Stephanie lake Morrisside HP8 8LH, Cowes",50.76306,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,446,"Täschestraße 25 39039 Nördlingen, Kirchlengern",52.2,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,448,"Studio 8 Moss mall West Linda M0E 6XR, High Wy...",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6 80114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3 45457 Feuchtwangen, B...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,Europe

In [631]:
print(filtered_store_details_df['opening_date'].unique())
print(filtered_store_details_df['opening_date'].nunique())

<DatetimeArray>
['2010-06-12 00:00:00', '1996-10-25 00:00:00', '2013-04-12 00:00:00',
 '2014-01-02 00:00:00', '2019-09-09 00:00:00', '1995-05-15 00:00:00',
 '2001-01-04 00:00:00', '2000-06-01 00:00:00', '2022-09-05 00:00:00',
 '2004-09-11 00:00:00',
 ...
 '2022-08-20 00:00:00', '2017-01-14 00:00:00', '2020-12-15 00:00:00',
 '2019-10-30 00:00:00', '2014-06-04 00:00:00', '2008-06-08 00:00:00',
 '2005-05-12 00:00:00', '1998-05-14 00:00:00', '2020-10-17 00:00:00',
 '2001-05-12 00:00:00']
Length: 431, dtype: datetime64[ns]
431

In [632]:
# Convert the 'opening_date' column to datetime format, handling specific formats
# filtered_store_details_df['opening_date'] = pd.to_datetime(filtered_store_details_df['opening_date'], errors='coerce', format='%Y-%m-%d')

filtered_store_details_df['opening_date'] = filtered_store_details_df['opening_date'].combine_first(pd.to_datetime(filtered_store_details_df['opening_date'], errors='coerce', format='%Y %B %d'))

# filtered_store_details_df['opening_date'] = filtered_store_details_df['opening_date'].dt.strftime('%Y-%m-%d')

print(filtered_store_details_df['opening_date'].unique())
print(filtered_store_details_df['opening_date'].nunique())

<DatetimeArray>
['2010-06-12 00:00:00', '1996-10-25 00:00:00', '2013-04-12 00:00:00',
 '2014-01-02 00:00:00', '2019-09-09 00:00:00', '1995-05-15 00:00:00',
 '2001-01-04 00:00:00', '2000-06-01 00:00:00', '2022-09-05 00:00:00',
 '2004-09-11 00:00:00',
 ...
 '2022-08-20 00:00:00', '2017-01-14 00:00:00', '2020-12-15 00:00:00',
 '2019-10-30 00:00:00', '2014-06-04 00:00:00', '2008-06-08 00:00:00',
 '2005-05-12 00:00:00', '1998-05-14 00:00:00', '2020-10-17 00:00:00',
 '2001-05-12 00:00:00']
Length: 431, dtype: datetime64[ns]
431

In [633]:
display(filtered_store_details_df.info())
display(filtered_store_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 441 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          441 non-null    int64
 1   address        440 non-null    string
 2   longitude      440 non-null    object
 3   locality       440 non-null    string
 4   store_code     441 non-null    string
 5   staff_numbers  441 non-null    object
 6   opening_date   441 non-null    datetime64[ns]
 7   store_type     441 non-null    category
 8   latitude       440 non-null    object
 9   country_code   441 non-null    category
 10  continent      441 non-null    category
dtypes: category(3), datetime64[ns](1), int64(1), object(3), string(3)
memory usage: 48.9+ KB

None

,index,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,<NA>,NaN,<NA>,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,1,"Flat 72W Sally isle East Deantown E7B 8EB, Hig...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5 50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel South Lydia WC9 2BE, Westbury",51.26,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,"Studio 6 Stephen landing South Simon B77 2WA, ...",53.0233,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
445,445,"Flat 7 Stephanie lake Morrisside HP8 8LH, Cowes",50.76306,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,446,"Täschestraße 25 39039 Nördlingen, Kirchlengern",52.2,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,448,"Studio 8 Moss mall West Linda M0E 6XR, High Wy...",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6 80114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3 45457 Feuchtwangen, B...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,Europe

In [634]:
print(filtered_store_details_df['opening_date'].unique())
print(filtered_store_details_df['opening_date'].nunique())

<DatetimeArray>
['2010-06-12 00:00:00', '1996-10-25 00:00:00', '2013-04-12 00:00:00',
 '2014-01-02 00:00:00', '2019-09-09 00:00:00', '1995-05-15 00:00:00',
 '2001-01-04 00:00:00', '2000-06-01 00:00:00', '2022-09-05 00:00:00',
 '2004-09-11 00:00:00',
 ...
 '2022-08-20 00:00:00', '2017-01-14 00:00:00', '2020-12-15 00:00:00',
 '2019-10-30 00:00:00', '2014-06-04 00:00:00', '2008-06-08 00:00:00',
 '2005-05-12 00:00:00', '1998-05-14 00:00:00', '2020-10-17 00:00:00',
 '2001-05-12 00:00:00']
Length: 431, dtype: datetime64[ns]
431

In [635]:

# Convert 'expiry_date' to datetime format
filtered_store_details_df['opening_date'] = pd.to_datetime(filtered_store_details_df['opening_date'], format='%y-%m-%d', errors='coerce')
display(filtered_store_details_df.info())
display(filtered_store_details_df)
print(filtered_store_details_df['opening_date'].unique())
print(filtered_store_details_df['opening_date'].nunique())

<class 'pandas.core.frame.DataFrame'>
Index: 441 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          441 non-null    int64
 1   address        440 non-null    string
 2   longitude      440 non-null    object
 3   locality       440 non-null    string
 4   store_code     441 non-null    string
 5   staff_numbers  441 non-null    object
 6   opening_date   441 non-null    datetime64[ns]
 7   store_type     441 non-null    category
 8   latitude       440 non-null    object
 9   country_code   441 non-null    category
 10  continent      441 non-null    category
dtypes: category(3), datetime64[ns](1), int64(1), object(3), string(3)
memory usage: 48.9+ KB

None

,index,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,<NA>,NaN,<NA>,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,1,"Flat 72W Sally isle East Deantown E7B 8EB, Hig...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5 50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel South Lydia WC9 2BE, Westbury",51.26,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,"Studio 6 Stephen landing South Simon B77 2WA, ...",53.0233,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
445,445,"Flat 7 Stephanie lake Morrisside HP8 8LH, Cowes",50.76306,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,446,"Täschestraße 25 39039 Nördlingen, Kirchlengern",52.2,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,448,"Studio 8 Moss mall West Linda M0E 6XR, High Wy...",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6 80114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3 45457 Feuchtwangen, B...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,Europe

<DatetimeArray>
['2010-06-12 00:00:00', '1996-10-25 00:00:00', '2013-04-12 00:00:00',
 '2014-01-02 00:00:00', '2019-09-09 00:00:00', '1995-05-15 00:00:00',
 '2001-01-04 00:00:00', '2000-06-01 00:00:00', '2022-09-05 00:00:00',
 '2004-09-11 00:00:00',
 ...
 '2022-08-20 00:00:00', '2017-01-14 00:00:00', '2020-12-15 00:00:00',
 '2019-10-30 00:00:00', '2014-06-04 00:00:00', '2008-06-08 00:00:00',
 '2005-05-12 00:00:00', '1998-05-14 00:00:00', '2020-10-17 00:00:00',
 '2001-05-12 00:00:00']
Length: 431, dtype: datetime64[ns]
431

In [636]:
display(filtered_store_details_df[['opening_date']])

    opening_date
0     2010-06-12
1     1996-10-25
2     2013-04-12
3     2014-01-02
4     2019-09-09
..           ...
445   2008-06-08
446   2005-05-12
448   1998-05-14
449   2020-10-17
450   2001-05-12

[441 rows x 1 columns]

In [637]:
filtered_df = store_details_original[store_details_original['store_code'] == 'WEB-1388012W']

display(filtered_df)

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,NaN,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe